/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

[data-theme="light"] {
  --text-color: #4c566a;
  --background-color: #f2f4f8;
  --menu-background-color: #ECEFF4;
  --bold-color: #2E3440;
  --link-color: #81A1C1;
  --link-highlight: #88C0D0;
}

[data-theme="dark"] {
  --text-color: #d8dee9;
  --background-color: #292e39;
  --menu-background-color: #2E3440;
  --bold-color: #eceff4;
  --link-color: #81A1C1;
  --link-highlight: #5E81AC;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  transition: all 500ms;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
  font-weight: 500;
}

a {
  color: var(--bold-color);
  text-decoration: none;
  transition: all 300ms ease;
}

a:hover {
  color: var(--link-color);
}

.about-text a {
  border-bottom: 3px solid var(--link-highlight);
  box-shadow: inset 0 -4px 0 var(--link-highlight);
  color: inherit;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);
}

.about-text a:hover {
  background: var(--link-highlight);
}

.title, .project-title {
  color: var(--bold-color);
}

.title {
  font-size: 3rem;
}

.tech-stack {
  font-weight: 400;
}

#toggle {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--bold-color);
}

#about {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#projects {
  display: flex;
  justify-content: center;
}

.about-text {
  text-align: left;
  max-width: 35rem;
  display: block;
  margin-block-start: 1em;
}

.projects-text {
  text-align: left;
  max-width: 40rem;
  display: block;
  margin-block-start: 1em;
}

#socials-container {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.details-container {
  padding: 1.5rem;
}

.project-img {
  max-width: 40rem;
  border-radius: 5px;
  margin-top: 1rem;
}

hr {
  border: none;
  height: 3px;
  border-radius: 5px;
  background: var(--bold-color);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

/* MOBILE NAV */

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-menu .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-menu .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--bold-color);
}

.hamburger-menu .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-menu .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-lines span {
  width: 100%;
  height: 2px;
  background-color: var(--bold-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-color);
  background: var(--menu-background-color);
  width: fit-content;
  margin: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  border-radius: 5px;
}

.menu-links a, .menu-links #toggle {
  display: block;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--bold-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 15rem;
}

.hamburger-lines.open span:first-child {
  transform: rotate(45deg);
}

.hamburger-lines.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-lines.open span:last-child {
  transform: rotate(-45deg);
}

.hamburger-lines span:first-child {
  transform: none;
}

.hamburger-lines span:first-child {
  opacity: 1;
}

.hamburger-lines span:first-child {
  transform: none;
}
